 <!--Navbar-->
 <ul id="navbar">
    <li><a href="/" class="decisionNav">Decision Data</a></li>
    <li><a href="/moneyMovement" class="moneyMovementNav">Money Movement</a></li>
    <li><a href="/show/epoch" class="showEpochNav">View Epoch</a></li>
    <li><a href="/initiateEpoch" class="setEpochNav">Set Epoch</a></li>
    <li><a href="/initiateSettlement" class="initiateSettlementNave"></a></li>
</ul>