 <!--Navbar-->
 <ul id="navbar">
    <li><a href="/set/decision" class="decisionNav">Decision Data</a></li>
    <% if (showMoneyMovement) { %>
        <li><a href="/moneyMovement" class="moneyMovementNav">Money Movement</a></li>
    <% } %>
    <li><a href="/set/epoch" class="setEpochNav">Set Epoch</a></li>
    <li><a href="/show/epoch" class="showEpochNav">View Epoch</a></li>
    <li><a href="/trader/balance" class="traderBalanceNav">Trader Balance</a></li>
    <% if (showInitiateSettlement) { %>
        <li style="float:right"><a href="/initiateSettlement" class="initiateSettlementNav">Speed Up Settlement</a></li>
    <% } %>
</ul>