<table class="styled-table">
    <tr>
        <td>Recommended Gas Price (Gwei)</td>
        <td><%= recommendedGasPrice %></td>
    </tr>
    <% if (!transactionMined) { %>
        <tr>
            <td>Minimum Gas Price (Gwei)</td>
            <td><%= minimumGasPrice %></td>
        </tr>
    <% } %>
    <tr>
        <td>Set Gas Price (Gwei)</td>
        <td><input type="text" name="manualGasPrice" data-gas-estimate="<%= gasEstimate %>" value="<%= minimumGasPrice %>" /></td>
    </tr>
    <tr>
        <td>Cost to Withdraw (ETH)</td>
        <td class="transactionCost">0</td>
    </tr>
</table>