<!DOCTYPE html>
<html lang="en">
    <body>
        <h3>Exercise Decision</h3>
        <h5>ETH/USDC</h5>
        <table>
            <tr>
                <th>Decision</th>
                <th>ETH - Debt</th>
                <th>USDC - Debt</th>
                <th>ETH User Withdrawal</th>
                <th>USDC User Withdrawal</th>
            </tr>
            <tr>
                <td>No Exercise</td>
            </tr>
            <tr>
                <td>Exercise Call</td>
            </tr>
            <tr>
                <td>Exercise Put</td>
            </tr>
        </table>
        <h5>WBTC/USDC</h5>
        <table>
            <tr>
                <th>Decision</th>
                <th>WBTC - Debt</th>
                <th>USDC - Debt</th>
                <th>WBTC User Withdrawal</th>
                <th>USDC User Withdrawal</th>
            </tr>
            <tr>
                <td>No Exercise</td>
            </tr>
            <tr>
                <td>Exercise Call</td>
            </tr>
            <tr>
                <td>Exercise Put</td>
            </tr>
        </table>
    </body>
</html>